* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  height: 100%;
  width: 100%;
  background: url("/img/samara.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box {
  height: 380px;
  width: 380px;
  position: relative;
  margin: 11% auto;
  background: white;
  padding: 5px;
  overflow: hidden;
  border-radius: 30px;
}

.toggle-btn {
  padding: 20px 25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: 0;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 90px;
  height: 100%;
  background: linear-gradient(to right, #007fff, #00bfff);
  border-radius: 20px;
}

.button-box {
  width: 220px;
  margin: 45px auto;
  position: relative;
}

.input-gpoup {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #007fff;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #007fff, #00bfff);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.checkbox {
  margin: 20px 10px 30px 0;
}

span {
  color: black;
  font-size: 12px;
  bottom: 60px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}
